* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}

nav .btn {
    background-color: #CE1211 !important;
    color: white;
}


.nav-link {
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.nav-link:hover {
    border-bottom-color: #CE1211;
}
