@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}



.mybtn {
    background-color: #CE1211 !important;
    color: white;
}


.nav-link {
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.nav-link:hover {
    border-bottom-color: #CE1211;
}

.home h2 {
    font-family: 'Playpen Sans', cursive;
}

@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.home .img img {
    animation: floatUpDown 3s ease-in-out infinite;
}

.about h2 {
    font-family: 'Playpen Sans', cursive;
}

.Book {
    padding: 10px;
    border: 5px solid #DDD;
}

.WhyChooseYummy {
    background-color: #EEE;

}

.WhyChooseYummy .div1 {
    background-color: #CE1211;
    transition-duration: .3s;
}

.WhyChooseYummy .div1:hover {
    scale: 1.05;
}

.WhyChooseYummy .div2 div div div {
    transition-duration: .3s;
    border: 2px solid transparent;
}

.WhyChooseYummy .div2 div div div:hover {
    scale: 1.05;
    border-color: #CE1211;
}

.myImage {
    height: 250px;
    background-image: url(../images/stats-bg.jpg);
    background-attachment: fixed ;
    background-size: contain;


}

.myImage{
    filter: brightness(.8) ;
}

